<h1>pick_lucky_numbers</h1>
<p>ip주소 보여주기</p>
<!--<p><%= request.remote_ip %></p>-->
<p></p>
<p>controller에서 view파일로 보내기</p>
<%= @box%>

<p>로또 번호 뽑기</p>
<p>오늘의 번호는</p>
<%= @lucky_numbers %>입니다.
<p></p>
<p></p>
<p></p>
<%= @array %>
<p></p>
<p></p>
<p></p>
<h2>한번에도 가능해요!</h2>
<%= @lucky_numbers_fin %>